<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/script.js" defer></script>
    <title>NGwordGame</title>
</head>

<body>
<section class="card" id="display1" title="Display 1">
<button class="btn" id="Button1" onclick="Button1Click()">
    <span id="Button1Text">Button 1</span>
    <input type="text" id="Text1" placeholder="Send Test Message">
</button>
<p id="Text1"></p>
</section>
</body>

</html>